.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100;
	height: 60%;
	text-align: center;
}
.wrapper > form {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	text-align: start;
	justify-content: space-around;
}
.wrapper > form > label {
	width: calc(50% - 20px);
}
.wrapper > form > label > div {
	font-size: 20px;
	font-weight: 100;
	padding-bottom: 4px;
}
.wrapper > form label input,
.wrapper > form label textarea {
	width: calc(100%);
	margin-bottom: 18px;
	color: black;
	height: 35px;
	padding: 5px 10px;
	border: 1px solid rgba(128, 128, 128, 0.454);
	border-radius: 5px;
	background-color: rgba(255, 105, 0, 0.3);
}

.wrapper > form input:focus,
.wrapper > form textarea:focus {
	outline: none;
}
.wrapper > form input::placeholder,
.wrapper > form textarea::placeholder {
	color: black;
}
.wrapper > form > button {
	align-self: start;
}
